.portfolio_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5em;
    
}

.portfolio_items{
     background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--orangeCard);
    box-shadow: 0px 20px 24px 3px rgba(28, 6, 128, 0.42);
    border-radius: 20px;
    padding: 1.3rem;
    border-radius: 1.5rem;
    transition: var(--transtion);
}


.portfolio_items:hover{
    border-color: #007da721;
    background: transparent;
}

.portfolio_items.img{
    
    border-radius: 1.5rem;
    overflow: hidden;
    
}

.portfolio_items-cta{
    display:flex;
    gap: 1rem;
    margin-bottom: 1rem;

}



@media screen and (max-width:600px){
    .portfolio_container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}



h5{
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;

}

h3{
    color: var(--gray);
    font-size: 14px;
    
}